@model Core.Erp.Info.General.tb_Catalogo_Info
@{
    ViewBag.Title = "Consulta de catálogos";
    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(q => q.IdTipoCatalogo, new { @id = "IdTipoCatalogo" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })

    @Html.Action("GridViewPartial_catalogo", new { IdTipoCatalogo = Model.IdTipoCatalogo, Nuevo = ViewBag.Nuevo })


    <div class="box-footer">        
        <a class="btn btn-default" href="@Url.Action("Index","CatalogoTipo",new { IdTipoCatalogo = ViewBag.IdTipoCatalogo, Area = "General" },null)">Volver</a>
    </div>

}

