
@{
    ViewBag.Title = "Líneas";
    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.Action("GridViewPartial_linea", new { IdEmpresa = ViewBag.IdEmpresa, IdCategoria = ViewBag.IdCategoria })

    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","Categoria",new {IdEmpresa = ViewBag.IdEmpresa, IdCategoria = ViewBag.IdCategoria, Area = "Inventario" },null)">Volver</a>
    </div>

}
